/*配置WXML中可直接使用的过滤方法*/

// 过滤超过字数的加以省略，传递字符窜val，以及限制的字数num
var subStrTxt = function(val, num) {
  if (val.length == 0 || val == undefined) {
    return;
  }
  if (val.length > num) {
    return val.substring(0, num - 1) + "...";
  } else {
    return val;
  }
}

var subName = function(val) {
  if (val.length == 0 || val == undefined) {
    return;
  } else {
    return val.substring(0, 1) + "**";
  }
}

// 过滤时间为 年-月-日 时:分:秒
var formateDateTime = function(val) {
  if (val.length == 0 || val == undefined) {
    return;
  }
  var dateTime = getDate(val);
  var y = dateTime.getFullYear();
  var m = dateTime.getMonth() + 1;
  m = m < 10 ? ("0" + m) : m;
  var d = dateTime.getDate();
  d = d < 10 ? ("0" + d) : d;
  var h = dateTime.getHours();
  h = h < 10 ? ("0" + h) : h;
  var minute = dateTime.getMinutes();
  minute = minute < 10 ? ("0" + minute) : minute;
  var seconds = dateTime.getSeconds();
  seconds = seconds < 10 ? ("0" + seconds) : seconds;
  var dateTimes = y + "-" + m + "-" + d + " " + h + ":" + minute + ":" + seconds;
  return dateTimes;
}

// 过滤时间为 年-月-日
var formateDate = function (val) {
  if (val.length == 0 || val == undefined) {
    return;
  }
  var date = getDate(val);
  var y = date.getFullYear();
  var m = date.getMonth() + 1;
  m = m < 10 ? ("0" + m) : m;
  var d = date.getDate();
  d = d < 10 ? ("0" + d) : d;
  var dates = y + "-" + m + "-" + d;
  return dates;
}

module.exports = {
  subStrTxt: subStrTxt,
  subName: subName,
  formateDateTime: formateDateTime,
  formateDate: formateDate
};