/*配置WXML中可直接使用的过滤方法*/

// 过滤超过字数的加以省略，传递字符窜val，以及限制的字数num
var subStrTxt = function(val, num) {
  if (val == undefined || val.length == 0) {
    return;
  }
  if (val.length > num) {
    return val.substring(0, num - 1) + "...";
  } else {
    return val;
  }
}

// 过滤人的名字为 张*  王**
var subName = function(val) {
  var value = val;
  if (value == undefined || value.length == 0) {
    return;
  } else if (value.length == 1) {
    return value;
  } else if (value.length == 2){
    return value.substring(0, 1) + "*";
  } else if (value.length == 3) {
    return value.substring(0, 1) + "**";
  } else if (value.length >= 4) {
    return value.substring(0, 1) + "***";
  }
}

// 过滤时间为 年-月-日 时:分:秒
var formateDateTime = function(val) {
  if (val == undefined || val.length == 0) {
    return;
  }
  var dateTime = getDate(val);
  var y = dateTime.getFullYear();
  var m = dateTime.getMonth() + 1;
  m = m < 10 ? ("0" + m) : m;
  var d = dateTime.getDate();
  d = d < 10 ? ("0" + d) : d;
  var h = dateTime.getHours();
  h = h < 10 ? ("0" + h) : h;
  var minute = dateTime.getMinutes();
  minute = minute < 10 ? ("0" + minute) : minute;
  var seconds = dateTime.getSeconds();
  seconds = seconds < 10 ? ("0" + seconds) : seconds;
  var dateTimes = y + "-" + m + "-" + d + " " + h + ":" + minute + ":" + seconds;
  return dateTimes;
}

// 过滤时间为 年-月-日
var formateDate = function (val) {
  if (val == undefined || val.length == 0) {
    return;
  }
  var date = getDate(val);
  var y = date.getFullYear();
  var m = date.getMonth() + 1;
  m = m < 10 ? ("0" + m) : m;
  var d = date.getDate();
  d = d < 10 ? ("0" + d) : d;
  var dates = y + "-" + m + "-" + d;
  return dates;
}

// 过滤第一个数能否被第二个数整除
var isDivisible = function (dividend, divisor) {
  return dividend % divisor === 0;
}
// 根据医生id取3位作为服务人数
var serviceNum = function (doctorID) {
  if (!doctorID) {
    return 100
  }
  return doctorID.slice(16, 19) | 100
}
// 字符串转数组
var strSplit = function (str, separator) {
  if (!str || !separator) {
    return []
  }
  // 去掉中括号
  str = str.replace("[", "").replace("]", "");
  return str.split(separator)
}

// 字符空格替换
var strReplce = function (str, object, replace) {
  if (!str) {
    return [];
  }

  return str.replace(getRegExp(',', 'g'), ' ');
}

// 根据key获取对象的值
var value = function (dic, key) {
  if (!dic || !key || !dic[key]) {
    return []
  }
  return dic[key]
}

module.exports = {
  subStrTxt: subStrTxt,
  subName: subName,
  formateDateTime: formateDateTime,
  formateDate: formateDate,
  isDivisible: isDivisible,
  serviceNum: serviceNum,
  strSplit: strSplit,
  value: value,
  strReplce: strReplce
};